.html, body
{
  height: 100%;
  margin: 0;
}
.login_div
{
	background: rgba(255,255,255,0.8);float: none;border-radius: 15px;
}
.header
{
	color: white;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
#body
{
background-image: linear-gradient(to right top, #e7feff, #e60026, #76ff7a, #ffcff1);

}
.logo
{
position: fixed;
size: 20px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

